In [5]:
import pandas as pd

In [5]:
import pandas as pd
df=pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.describe()

,artist,song,link,text
count,57650,57650,57650,57650
unique,643,44824,57650,57494
top,Donna Summer,Have Yourself A Merry Little Christmas,/a/abba/ahes+my+kind+of+girl_20598417.html,I just came back from a lovely trip along the ...
freq,191,35,1,6

In [12]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [9]:
df.shape

(57650, 4)

In [13]:
df.drop('link',axis=1).reset_index(drop=True)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
...,...,...,...
57645,Ziggy Marley,Good Old Days,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,come in \r\nmake yourself at home \r\ni'm a ...

In [14]:
df['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [15]:
df.sample(5000)

,artist,song,link,text
7656,Heart,The Night,/h/heart/the+night_20064724.html,Deep in the darkness slumber \r\nEndless slee...
24697,The Beatles,"Baby, It's You",/b/beatles/baby+its+you_10026344.html,It's not the way you smile that touched my hea...
2031,Bruce Springsteen,Fire,/b/bruce+springsteen/fire_20025107.html,"I'm driving in my car, I turn on the radio \r..."
56795,Wyclef Jean,Daddy,/w/wyclef+jean/daddy_20147526.html,"""Daddy"" \r\n \r\nDa, da, da, daddy, daddy, d..."
14004,Nick Drake,Beverley Street,/n/nick+drake/beverley+street_20483108.html,A crowded room on Beverley \r\nA party for th...
...,...,...,...,...
52724,Talking Heads,The Overload,/t/talking+heads/the+overload_20135085.html,A terrible signal \r\nToo weak to even recogn...
7447,Hank Williams Jr.,Blue Lady In A Red Mercedes,/h/hank+williams+jr/blue+lady+in+a+red+mercede...,There's a blue lady \r\nIn a red mercedes \r...
39106,Judy Garland,Ten Pins In The Sky,/j/judy+garland/ten+pins+in+the+sky_20323407.html,Did you ever wonder why in thunder \r\nThunde...
2225,Carpenters,Goodnight,/c/carpenters/goodnight_20027781.html,When I was young I'd listen to the radio \r\n...
5227,Enrique Iglesias,If The World Crashes Down,/e/enrique+iglesias/if+the+world+crashes+down_...,You make me strong \r\nYou make me weak \r\n...

In [18]:
df.shape

(57650, 4)

In [16]:
df.drop('link',axis=1).reset_index(drop=True)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
...,...,...,...
57645,Ziggy Marley,Good Old Days,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,come in \r\nmake yourself at home \r\ni'm a ...

In [17]:
df.shape

(57650, 4)

text preprocessing

In [10]:
import nltk
from nltk.stem.porter import porterStemmer

ImportError: cannot import name 'porterStemmer' from 'nltk.stem.porter' (C:\Users\manoh\anaconda3\anaconda\lib\site-packages\nltk\stem\porter.py)

In [14]:
stemmer=porterStemmer()

NameError: name 'porterStemmer' is not defined

In [ ]:
def token(txt):
    token =nltk.word_tokensize(txt)
    [stemmer.stem(w) for w in token]
    return " ".join(a)

In [11]:
token("you are beautiful,bueaty")

AttributeError: module 'nltk' has no attribute 'word_tokensize'

In [12]:
df['text'].apply(lambada x:token(x))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1169348794.py, line 1)

In [13]:
from sklearn.feature_etraction.text import tfidvectorizer
from sklearn.metrics.paidwise import cosie_similarity

ModuleNotFoundError: No module named 'sklearn.feature_etraction'